# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Frontend (Node / Build)
node_modules/
dist/
build/

# Graphify
graphify-out/
